.element-visualizer {
    background-color: #111;
    height: 125vh;
    overflow: hidden; /* Скрывает всё, что выходит за пределы контейнера */
    position: relative; /* Устанавливает контекст для абсолютного позиционирования */
}

.left-panel-atom {
    width: 250px;
    background-color: #222;
    color: white;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.left-panel-atom button {
    padding: 10px 20px;
    background-color: #333;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}
.left-panel-atom a {
    padding: 10px 20px;
    background-color: #333;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.left-panel-atom button:hover {
    background-color: #444;
}

.element-info {
    background-color: #333;
    padding: 15px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#element-symbol {
    font-size: 48px;
    text-align: center;
}

#element-name {
    text-align: center;
    font-weight: bold;
}

.element-details {
    font-size: 14px;
    color: #aaa;
}

/* Основная зона */
#main-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0; /* Убраны внешние отступы */
    padding: 0;
}

#atom {
    position: relative;
    width: 300px;
    height: 300px;
    max-width: 100%; /* Обеспечивает адаптивность */
    max-height: 100%;
}

/* Ядро атома */
.nucleus {
    position: absolute;
    top: 15vh;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: #ff6b35;
    border-radius: 50%;
    box-shadow: 0 0 10px #ff6b35;
}

.orbit {
    border-radius: 50%;
    border: 2px solid #222;
    position: absolute;
    top: 15vh;
    left: 50%;
    transform: translate(-50%, -50%);
}

.electron {
    position: absolute;
    top: 15vh;
    left: 50%;
    width: calc(1.5*min(1vh, 1vw));
    height: calc(1.5*min(1vh, 1vw));
    background-color: #00cfff;
    border-radius: 50%;
    transform-origin: center;
    box-shadow: 0 0 5px #00c0ff;
}
