name: add Build and Deploy

on:
  push:
    branches: [ main ] # или другая ветка, по которой запускается сборка

jobs:
  build:
    runs-on: ubuntu-latest
    environment: github-pages;
    
    steps:

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: create config with secrets and var
        run: |
          mkdir -p docs
          echo "window.GEN_API_API_KEY = '${{ secrets.GEN_API_API_KEY }}';" > docs/config.js
#          sed -i 's|__GEN_API_API_KEY__|${{ secrets.GEN_API_API_KEY }}|g' ./ai/aiChat.js
#          sed -i 's|__GEN_API_API_KEY__|${{ secrets.GEN_API_API_KEY }}|g' ./laboratory/laboratory.js
        env:
          GEN_API_API_KEY: ${{ secrets.GEN_API_API_KEY }}
